.contenedorLista {
  width: 280px;
  padding: 15px;
  height: auto;
  background: rgb(23, 23, 24);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 10px;
  margin-left: 0px;
  border-radius: 10px;
  list-style: none;
}

.contenedorCocina h3 {
  margin-top: 10px;
  font-size: 22px;
  font-weight: lighter;
}

.contenedorLista span {
  margin-top: 10px;
  color: grey;
  font-size: 15px;
}

.contenedorLista li {
  font-size: 18px;
}

.contenedorCocina p {
  margin-top: 8px;
  margin-bottom: 5px;
  font-size: 18px;
}

.contenedorLista .btn.btn-success.btn-sm {
  margin-left: 80%;
  background-color: #4D5A06;
  border-style: none;
}

.contenedorLista .btn.btn-primary.btn-sm {
  margin-left: 75%;
  background-color: #063b5a;
  border-style: none;
}

.contenedorListaDerecho {
  width: 280px;
  padding: 15px;
  height: auto;
  background: rgb(23, 23, 24);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 10px;
  margin-left: 0px;
  border-radius: 10px;
  list-style: none;
}

button.swal2-styled.swal2-confirm {
  background-color: #063b5a;
}

.h2#swal2-title {
  font-family: 'Cabin', sans-serif;
}
