body {
  margin: 0;
  padding: 0;
  background: url("../img/fondo.jpg");
  background-color: black;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1 {
  font-size: 25px;
  color: white;
  margin: 15px 20px 2px 20px;
}

.contenedorGeneral {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;

}

.desayuno {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  width: 100%;
}

.menuDiario {
  display: flex;
  flex-direction: column;
}

.contenedorIzquierdo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgb(44, 44, 44);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
  width: 80%;
  margin: 20px;
  margin-right: 0px;
}

.contenedorIzquierdo p {
  color: white;
  font-size: 14px;
  margin-top: 12px;
}

.contenedorIzquierdo button {
  font-size: 14px;
  margin-bottom: 30px;
}

h3 {
  color: white;
}

.contenedorDerecho {
  background: #E1B589;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 12px;
  margin-top: 20px;
  height: 728px;
  width: 50%;
}

.contenedorDerecho h3 {
  color: rgb(32, 32, 32);
  text-align: center;
  margin: 20px;
}

.comida {
  text-align: center;
  margin: 10px;
}

.contenedorRegistro {
  text-align: center;
  margin: 10px;
}

.contenedorRegistro input {
  width: 350px;
}


@media screen and (max-width: 768px) {

  .comida {
    text-align: center;
    margin: 2px;
  }

  .comida p {
    font-size: 12px;
  }

  .contenedorIzquierdo img {
    width: 50%;
    margin: 5px;
  }

  .contenedorIzquierdo {
    width: 82%;
    margin-top: 20px;
    margin-right: 0px;
  }

  .contenedorDerecho {
    width: 50%;
    margin: 20px;
  }

  h1 {
    font-size: 20px;
    margin: 10px 20px;
  }

  .contenedorDerecho h3 {
    font-size: 18px;
  }
}
