body {
  margin: 0;
  padding: 0;
  background: url("../img/fondo.jpg");
  background-color: black;
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  align-self: auto;
  font-family: 'Cabin', sans-serif;
}

h1 {
  font-size: 25px;
  color: white;
  margin: 15px 20px 2px 20px;
}

p {
  color: grey;
}

.contenedorGeneral {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

.desayuno {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  width: 100%;
}

.menuDiario {
  display: flex;
  flex-direction: column;
}

.contenedorIzquierdo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: rgb(44, 44, 44);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px;
  width: 80%;
  margin: 20px;
  margin-right: 0px;
}

.contenedorIzquierdo p {
  color: white;
  font-size: 14px;
  margin-top: 12px;
}

.contenedorIzquierdo button {
  font-size: 14px;
  margin-bottom: 30px;
}

h3 {
  color: white;
}

.contenedorDerecho {
  background: rgb(34, 34, 34);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 12px;
  margin-top: 20px;
  height: auto;
  width: 50%;
}

.contenedorDerecho p{
  margin-left:70px;
  font-size: 20px;
}

.contenedorDerecho h6 {
  margin-left: 65px;
  font-size: 19px;
  color: grey;
}

.contenedorDerecho h3 {
  color: white;
  font-size: 30px;
  text-align: center;
  margin: 20px;
}

.btnEnviar {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.comida {
  text-align: center;
  margin: 10px;
}

.contenedorRegistro {
  text-align: center;
  margin: 10px;
}

.row input {
  border: none;
}

.contenedorRegistro input {
  width: 350px;
}

.pedido {
  color: grey;
  font-style: black;
  font-size: 18px;
}

.pedido li{
  font-size: 18px;
  list-style: none;
  margin-top: -22px;
  margin-left:36px;
}

.btnMenu {
  display: flex;
  flex-direction: row;
  margin: 10px;
  text-decoration: none;
}

.col {
  margin-left: 20px;
  padding: 0px;
}

.container.mt-2 {
  padding-left: 0px;
}

@media screen and (max-width: 768px) {

  .comida {
    text-align: center;
    margin: 2px;
    width: 150px;
    height: 170px;
  }

  .comida p {
    font-size: 12px;
  }

  .contenedorIzquierdo img {
    width: 50%;
    margin: 5px;
  }

  .contenedorIzquierdo {
    width: 82%;
    margin-top: 20px;
    margin-right: 0px;
  }

  .contenedorDerecho {
    width: 62%;
    margin: 20px;
    height: auto;
  }

  .contenedorDerecho h3 {
    font-size: 22px;
  }

  .contenedorDerecho p {
    margin-left: 20px;
    font-size: 14px;
    list-style: none;
  }

  .contenedorDerecho h6 {
    margin-left: 57px;
    color: grey;
    font-size: 18px;
  }

  h1 {
    font-size: 20px;
    margin: 10px 20px;
  }

  .pedido li{
    margin-left:36px;
    font-size: 16px;
  }

}
