.logoPrincipal{
    width: 54%;
    
}
  .contenedor{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top:60px;
}
 